---
# Only the main Sass file needs front matter (the dashes are enough)
---
.profile-picture {
    height: 175px;
    width: 175px;
    position: relative;
    margin: -10px 0 0 30px;
    float: right;
    border-radius: 50%;
}

@media (max-width:629px) {
  img#optionalstuff {
    display: none;
  }
}

@import 'tale';
